//Main colors
$primary-color: rgb(67, 163, 162);
$secondary-color:    rgb(222, 97, 4 );
$tertiary-color:     rgb(194, 222, 60);
$quaternary-color:    rgb(254, 240, 91);
$dark-color:     rgb(0, 0, 0);
$light-color:     rgb(255, 255, 255);
$light-bg-color:     rgb(242, 242, 242);

//Weights
$light-weight:    300;
$normal-weight:   400;
$black-weight:    900;


